{%
  set venue = {
      'title'       : 'World Trade Center'
    , 'subtitle'    : 'Malleshwaram'
    , 'poster'      : ''
    , 'address'     : 'World Trade Center, Brigade Gateway, <br>Dr. Rajkumar Road, Malleshwaram West, <br>Bengaluru, Karnataka 560055<br>Ph: (+91)080 4901 9100'
    , 'map'         : {
        'osm'       : {
            'label' : 'World Trade Center'
          , 'zoom'  : 14
          , 'marker': '13.014451, 77.556602'
        }
      , 'google'    : 'https://goo.gl/maps/qoC3G'
    }
    , 'city'        : {
          'title'       : 'Bangalore'
        , 'map'         : {
            'osm'       : {
              'label'   : 'Bangalore'
            , 'zoom'    : 3
            , 'marker'  : '12.9833, 77.5833'
          }
        }
        , 'address'     : 'Bangalore<br>Karnataka<br>India'
    }
    , 'directions'  : [
        {
          'from'      : 'Airport'
        , 'route'     : '<p>The World Trade Center is 33.8 kms from the airport. In peak hours, it can take up to 1 hour to reach the venue. During non-rush hours, you can get to the venue within 42 minutes. Bus number 11 from the airport will bring you to the Malleshwaram bus station. From there, you can take an auto to get to MLR Convention Centre. Alternatively, you can take a taxi (with registered services such as MERU, Easy Cabs and KSTDC) from the airport which will charge by the meter.</p>'
      }
      , {
          'from'      : 'Majestic'
        , 'route'     : '<p>The World Trade Center is 6.3 kms away from the Majestic bus and railway station. BMTC AC and non-AC buses going towards Malleshwaram and Rajajinagar will help you reach the venue.  You could also take an auto rickshaw or book a taxi (with Ola, Taxi for Sure and other services).</p>'
      }
    ]
  }
%}